*{
    margin: 0;
    padding: 0;
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    line-height: 150%;
}
.contenedor{
    position: relative;
    width: 100vw;
    height: 90vh;
}
h2{
    display:flex;
    font-size: 28px;
    font-weight: 800;
    left: 25%;
    top: 3%;
    position: absolute;
    color: burlywood;
}
head.title{
    color: #0A3871;
    margin-top: 60px; 
    margin-left: 300px;
    display: flex;
}
.logo{
    display: inline;
    padding-top:0.5%;
    margin-left: 1%;
    width: 7%;
    height: 7%;
}
.linkedIn{
    display: inline;
    width: 1%;
    height: 1%;
    margin: 0%;
}
.github{
    display: inline;
    width: 1.25%;
    height: 1.25%;
    margin: 0%;
}

.textoIng{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    padding: 0%;
    margin: 0%;
    color: #0A3871;
    resize: none;
}
.textoIng::placeholder {
    color: #0A3871;
}
.textoIng:focus,
.textoIng.active {
    outline: none;
    border: none;
}

.areaencriptada{
    display: flex;
    position:absolute;
    width: 40%;
    height: 60%;
    left: 60%;
    top: 0%;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;
}

.imgsalida{
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30%;
    border: none;
    border-radius: 24px;
    color: #0A3871; 
    margin-left: 0%; 
    margin-top: 1%; 
    margin-bottom: 0%;
    padding-bottom: 0%;
    padding-top: 1%;
    padding-left: 1%; 
    width: 70%;
    resize: none;
}
.textoEnc {
    background: white;
    background-image: url("./Imagenes/Secreto.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871; 
    margin-left: 1%; 
    margin-top: 0%; 
    padding-top: 0%;
    padding-left: 1%;
    width: 70%;
    resize: none;
}

.textoEnc, .imgsalida:focus {
    outline: none;
}

.botones,.btncopiar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0%;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 84%;
}
.btnEnc{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 22%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.btnDes{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 22%;
    text-align: center;
    font-size: 20px;
    line-height: 25px;
    margin-left: 10px;
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871
    cursor: pointer;
}
.btnDes:hover,
.btnEnc:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.5%;
}
.btncopiar:hover{
    margin: 37% 4% 0% 4%;
    width: 45%;
    padding: 3%;
}
.btncopiar{
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 20px;
    gap: 8px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    line-height: 25px;
    margin: 38% 6% 0% 6%;
    width: 42%;
    padding: 4%;
}
.informacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 79%;
    color: #495057;
    font-size: 18px;
}
.alerta{
    display: flex;
    flex-direction: row;
    align-items: right;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    font-style: italic;
    font-weight: 800;
    left: 42%;
    top: 79%;
    color: red;
    font-size: 18px;
}
.copyright{
    text-align:center;
    padding: 0px;
    color: #979350;
    font-size:small;
    font-style: italic;
    font-weight: bold;
}
