*{
    margin: 0;
    padding: 0;
    background: #F3F5FC;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}
.contenedor{
    position: relative;
    width: 100vw;
    height: 96vh;
}
h2{
    display:flex;
    font-size: 28px;
    font-weight: 800;
    left: 25%;
    top: 3%;
    position: absolute;
    color: burlywood;
}
head.title{
    color: #0A3871;
    margin-top: 60px; 
    margin-left: 300px;
    display: flex;
}
.logo{
    padding-top:0.5%;
    margin-left: 0.5%;
    width: 7%;
    height: 7%;
}
.textoIng{
    position: absolute;
    width: 42%;
    height: 60%;
    left: 12%;
    top: 15%;
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
    color: #0A3871;
    resize: none;
}
.textoIng::placeholder {
    color: #0A3871;
}
.textoIng:focus,
.textoIng.active {
    outline: none;
    border: none;
}
.areaencriptada{
    display: flex;
    justify-content: center;
    position: absolute;
    width: 30%;
    height: 93%;
    left: 60%;
    top: 5%;
    box-shadow: 0px 24px 32px -8px rgba(0,0,0,0.08);
    border-radius: 32px;
}
.imgsalida{
    background-position: right;
    background-repeat: no-repeat;
    background-size: 30%;
    border: none;
    border-radius: 24px;
    color: #0A3871; 
    margin: 0; 
    padding: 0; 
    width: 100%;
    resize: none;
}
.textoEnc {
    background: white;
    background-image: url("./Imagenes/Secreto.png");
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871; 
    margin-left: 10%; 
    margin-top: 0%; 
    padding-top: 0%;
    padding-left: 10%; 
    resize: none;
}
.textoEnc:focus {
    outline: none;
}
.botones,.btncopiar{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 1% 0%;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 83%;
}
.btnEnc{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 22%;
    text-align: center;
    font-size: 24px;
    line-height: 25px;
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}
.btnDes{
    align-items: center;
    justify-content: center;
    padding: 2%;
    gap: 8px;
    width: 22%;
    text-align: center;
    font-size: 24px;
    line-height: 25px;
    margin-left: 10px;

    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871
    cursor: pointer;
}
.btnDes:hover,
.btnEnc:hover{
    margin: 0.3%;
    width: 24.5%;
    padding: 1.8%;
}
.btncopiar:hover{
    margin: 2% 8% 0% 8%;
    width: 62.5%;
    padding: 3%;
}
.btncopiar{
    align-items: center;
    vertical-align: bottom; 
    justify-content: center;
    text-align: center;
    font-size: 24px;
    line-height: 30px;
    margin: 3% 8% 0% 8%;
    width: 62.5%;
    padding: 4%;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
}
.informacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    position: absolute;
    width: 80%;
    left: 12%;
    top: 80%;
    color: #495057;
    font-size: 18px;
}
.copyright{
    text-align:center;
    padding: 0px;
    background-color: #495057;
    color: #979350;
    font-size:medium;
    font-style: italic;
    font-weight: bold;
}